@model RequestsManagementSystem.Models.CreateRequestViewModel

@{
    ViewBag.Title = "Create";
}

<h3>Create</h3>


@using (Html.BeginForm("Create", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Request</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.AddRequestCommand.Name, "Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AddRequestCommand.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AddRequestCommand.Name, "Name is required!", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AddRequestCommand.Description, "Description", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AddRequestCommand.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AddRequestCommand.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AddRequestCommand.RaisedDate, "Raised Date", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AddRequestCommand.RaisedDate, "{0:yyyy-MM-ddThh:mm}", new { htmlAttributes = new { @class = "form-control", @type = "datetime-local" } })
            @Html.ValidationMessageFor(model => model.AddRequestCommand.RaisedDate, "The Raised Date field is required.", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AddRequestCommand.DueDate, "Due Date", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AddRequestCommand.DueDate, "{0:yyyy-MM-ddThh:mm}", new { htmlAttributes = new { @class = "form-control", @type = "datetime-local" } })
            @Html.ValidationMessageFor(model => model.AddRequestCommand.DueDate, "The Due Date field is required.", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AddRequestCommand.StatusId, "Status", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.AddRequestCommand.StatusId, new SelectList(
                Model.RequestStatuses, "Id", "Description", 1),
                new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AddRequestCommand.StatusId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AddRequestCommand.Attachments, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.AttachmentFile, new { type = "file", accept = "application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="openDialog btn btn-default btn-success" />
        </div>
    </div>
</div>
}

<div>
    <a href="@Url.Action("Index", "Home")" class="openDialog btn btn-default btn-info">
        <i class="fa fa-arrow-left"></i> Back to List
    </a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}