@model RMS.Application.Queries.RequestBC.GetRequestResult

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h3>Request</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RaisedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RaisedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attachments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attachments)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "openDialog btn btn-default btn-warning" } ) |
    <a href="@Url.Action("Index", "Home")" class="openDialog btn btn-default btn-info">
        <i class="fa fa-arrow-left"></i> Back to List
    </a>
</p>
