@model IEnumerable<RMS.Application.Queries.RequestBC.GetRequestResult>

@{
    ViewBag.Title = "Home Page";
}
<h3>Requests</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="span12">
    <table class="table table-striped" id="datatab">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RaisedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DueDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StatusName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Attachments)
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RaisedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DueDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StatusName)
                </th>
                <th>
                    @Html.ActionLink("Download", "Download", new { id = "item.Id" })
                </th>
                <th>
                    @Html.ActionLink("Edit", "Edit", new { id = "item.Id" }) |
                    @Html.ActionLink("Details", "Details", new { id = "item.Id" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = "item.Id" })
                </th>
            </tr>
        </tfoot>
    </table>
</div>